
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(font-awesome.min.css);


/*Style for Header*/

/*body { padding-top: 70px; }*/

body{
    font-size: 8px;
    padding-top: 5px;
}
header .navbar-default {
    background-color: #2c2c2c;
    border-color: transparent;
}
.navbar-nav{
    margin-left: 300px;
}
#home .navbar-nav{
    margin-left: 150px;
}
header figcaption{
    /*  position: relative;*/
    bottom: 54px;
    left:100px;
    color: #ffffff;
    font-size: 9px;
    font-weight: bold;
}

.logo> .navbar-nav{
    margin-top: 16px;
}

.logo> .navbar-nav >li{
    padding-right: 10px;

}

.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 0px;
}
.logo> figure{
    padding-left: 100px;
    padding-top: 15px;
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a{
    color: #ffffff;
    background-color: transparent;
    border-bottom: 1px solid #f8e1b4;
    padding: 0 0 0 0;
}

.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #9c5825;

    /* border-bottom: 2px solid #f8e1b4;*/
}

/*******2nd Navbar*****/
#home ul a{
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
}

#home ul {
    border: 1px solid #FFFFFF;
    padding-bottom: 9px;
}
#home .nav  > li > a:hover{
    color: #9c5825;
}


#searchBox{
    width: 300px;
    float: right;
}
/*Global CSS*/

h1, h2, h3, h4,  h6, p, figure{
    margin: 0;
}

h5{
    color: #787878;
    background-color: #ffffff;
    font-size: 42px;
    /*  font-weight: bold;*/
    text-align: center;
    text-transform: uppercase;
}


h6{
    color: #3b3b3b;
    font-size: 30px;
    /*font-weight: bold;*/
    /*text-align: center;*/
}

/*
Banner Section Starts*/
#banner{
    background-image:url("../img/new1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 1600px;
    height: 245px;

}

#banner a{
    text-decoration: none;
    font-size: 12.44px;
    font-weight: bold;
    color: #fff;
}

#banner h1{
    font-size: 24.49px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
#banner > div figure{
    position: relative;
    top: 120px;
    right: -97px;
}

/*ProductsAccessories Section Starts*/
#productsAccessories h4{
    font-size: 18.93px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
#productsAccessories h5{
    border-bottom: 1px solid #000;
    color: #6b6b6b;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#productsAccessories h5>  p{
    color: #6b6b6b;
    font-size: 18px;
}

/*For Color*/
body {
    background: url(images/shadow.png);
    background-attachment: fixed;
}

/* color-changer css */
.color-changer {background: #eee; display: table;padding: 10px;margin: 0 auto;}
.color-changer:hover{cursor:pointer;}
.red,.purple,.yellow,.blue,.deeppink,.white{float: left;height: 20px;margin: 3px;width: 20px;}
.red:hover,.purple:hover,.yellow:hover,.blue:hover,.deeppink:hover,.white:hover{opacity:0.8;}


.red{background: red;}
.purple{background: purple;}
.yellow{background: yellow;}
.blue{background: blue;}
.deeppink{background: deeppink;}
.white{background:white;border:1px solid #f1f1f1;}
/*Color End*/

#productsAccessories .container .row h2{
    font-size: 36.18px;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #000;
}

#productsAccessories  h3{
    font-size: 18.53px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

#productsAccessories  p{
    font-size: 12.04px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
#productsAccessories .container .row  .col-md-2 p:nth-child(11){
    font-size: 17.21px;
    font-weight: bold;
    color: #e96767;
    text-align: left;
}

#productsAccessories .container .row  .col-md-2 p:nth-child(13){
    font-size: 17.21px;
    font-weight: bold;
    color: #e96767;
    text-align: left;
}

#productsAccessories .container .row  .col-md-2 p:nth-child(15){
    font-size: 17.21px;
    font-weight: bold;
    color: #e96767;
    text-align: left;
}

#productsAccessories .container .row  .col-md-2 h6{
    font-size: 21.05px;
    font-weight: bold;
    color: #6b6b6b;
    text-align: left;
}

#productsAccessories .container .row  .col-md-2 figure a{
    font-size: 10px;
    font-weight: bold;
    color: #6b6b6b;


}

#productsAccessories .container .row  .col-md-2 figure p{
    font-size: 12px;
    font-weight: bold;
    color: #001010;


}
#productsAccessories .container .row  .col-md-2 figure .glyphicon-star{
    font-size: 10px;
    font-weight: bold;
    color: #de555f;
    background-color: #FFFFFF;
}

#productsAccessories .container .row  .col-md-2 figure{
    padding-top: 36px;
}

#productsAccessories .container .row  .col-md-2 #imgHover{
    padding-top: 36px;
}

#imgHover figure{
    position: relative;
}
#imgHover figcaption{
    display: none;
}

#imgHover figure:hover figcaption {
    display: block;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#productsAccessories #imgHover figure > figcaption > p{
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    padding-top: 60px;
    padding-left: 5px;
    text-align: center;
}
#productsAccessories .container .row  .col-md-2 .lastH{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

#productsAccessories .container .row  .col-md-2 .lastP p{
    color: #6b6b6b;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
/*Ecommerce Section Starts*/
#ecommerce{
    background-color: #363636;
}
#ecommerce .container .row figure{
    float: left;
    padding-top: 20px;
    padding-left: 488px;
}

#ecommerce figure p{
    font-size: 14px;
    color: #fff;
    margin: 0;
}
#ecommerce .container .row .text {
    padding-top: 135px;

}

#ecommerce .container .row .icon{
    color: #fff;

}

#ecommerce .container .row .icon{
    float: right;
    padding-right: 180px;

}
#ecommerce p{
    color: #fff;
    text-align: center;
}

#ecommerce h2{
    color: #fff;
    font-size: 20px;
    float: left;

}
#ecommerce .col-md-4 p{
    font-size: 17px;

}
#ecommerce .col-md-2 p{
    font-size: 17px;
    float: left;
}

#subscribe{
    width: 500px;
}

#subscribe > .input-group> .form-control{
    background-color: transparent;
}
#subscribe .btn-default{
    color: #f07e1d;
    background-color: transparent;
}
/*
Footer Section Starts*/
footer{
    background-color: #151515;
}

footer p{
    color: #fff;
    padding: 20px 120px ;
}

footer p >span{
    color: #f07e1d;
}
footer{
    position: relative;
}
footer .img{
    position: absolute;
    top: 5px;
    right: 285px;
    /* float: right;
     padding-top: 5px;*/
}



